# requirements.txt

# FastAPI framework and server
fastapi[all]
uvicorn

# Database
sqlalchemy
# mysqlclient
PyMySQL
alembic

# Async Tasks
celery
redis

# Data Science / AI
pandas
numpy
passlib[bcrypt]
python-jose[cryptography]
python-dotenv